@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>My personal Email:@ViewData["Email"]</h4>

<p>Student: @ViewData["Student"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.instagram.com/matheusmartins.199/">My instagram account</a>
</address>
<p>Use this area to provide additional information.</p>
