@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
  +55 62 98487-4516
</address>

<address>
    <strong>Support:</strong> <a href="https://mail.google.com/mail/u/0/?tab=wm#inbox?compose=lqrsljbPpNVrWRKqcmcGmztPHKsbRlxjhchGkbsXgFJPBnkxdJrHMzXjkwHWgmbSpCZVxLtVglfqlmRSK">Support@matheus.martinsna@gmail.com</a><br />
</address>
